<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Congratulation</div>

    <div>Your secret Key is: <%- code %></div>

    <a href="<%= url %>">Link to Continue</a>
  </body>
</html>
