<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Congratulation</div>
    <br />
    <br />
    <div>Use the Link below to Activate your Account</div>

    <br />
    <br />
    <br />
    <a href="<%= url %>">Link to Activate your Account</a>
  </body>
</html>
